.title-text{
    text-decoration: none;
    width: 100%;
    padding: 5;
    font-family: "Arial", Helvetica, sans-serif;
    
}
.header{
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 10%;
    color: antiquewhite;
}
.list-items{
    text-align: right;
}
.background-image{
    width: 100vw;
    height: 100vh;
}
.centered {
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
  }
.words{
    font-weight: bold;
}
body{
    margin: 0;
    background: rgb(42,40,40);
    background: -moz-linear-gradient(105deg, rgba(42,40,40,1) 0%, rgba(176,167,62,1) 100%);
    background: -webkit-linear-gradient(105deg, rgba(42,40,40,1) 0%, rgba(176,167,62,1) 100%);
    background: linear-gradient(105deg, rgba(42,40,40,1) 0%, rgba(176,167,62,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a2828",endColorstr="#b0a73e",GradientType=1);
    
}
.heading-name{
    float: left;
}
.clouds{
    height: 25vh;
    width: 100vw;
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-40%, 170%);
}
.about-pic{
    width:20%;
    height: 20%;
    transform: translate(-40%, 35%);
}
.bg-img{
    width:45rem;
    height: 35rem;
    margin-left: -10rem;
    margin-top: 2rem;
}
#about-us{
   color: aliceblue;
   float:right;
   margin-top: 10%;
}
.vr {
    border-right: 6px solid white;
    height:15rem;
    float: left;
    margin-top: 2%;
    border-radius: 1%;
  }
  .about-image{
    float: left;
    padding-left: 3%;
    border-radius: 20%;
    margin-top: 3%;
    display: block;
  }
#services{
    color: aliceblue;
    float:right;
    margin-top: 10%; 
    width: 100vw;
}
.service-image{
    float: left;
    margin-top: 5%;
    display: block;
}
.vl{
    border-left: 6px solid white;
    height:11rem;
    float: left;
    border-radius: 1%;
    margin-top: 2%;
}
.contact_me{
    margin-top: 10%;
}
#contact_me{
    color: aliceblue;
    float:right;
    margin-top: 10%; 
    width: 100vw; 
}
.map{
    width: 18rem;
    height: 15rem;
    border: 2rem solid;
    border-color: black;
    border-radius: 15%;
}
.address{
    float: left;
    padding-left: 5%;
}
.vrmap{
    border-right: 6px solid white;
    height:25rem;
    float: left;
    margin-top: 2%;
    border-radius: 1%;
  }
  .call{
    float: left;
    padding-left: 5%;
  }
  .whatsapp{
    float: left;
    padding-left: 5%;
  }
  #contact_me{
  }
  .contact_link{
    color: aliceblue;
    text-decoration: none;
  }
  .footer{
    width: 100vw;
    height: 5rem;
    background-color: black;
    float: left;
    color: aliceblue;
  }
  .footer_link{
    float: left;
  }
  .rights{
    float: left;
  }