.header{
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 10%;
    color: antiquewhite;
}
.background-image{
    width: 100vw;
    height: 100vh;
}
.centered {
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
  }
body{
    margin: 0;
    background-color:rgb(153,101,21,.7);    
    overflow:auto;
    width: 100%;    
}
.clouds{
    height: 25vh;
    width: 100vw;
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-40%, 170%);
}
.bg-img{
    width:45rem;
    height: 35rem;
    margin-left: -10rem;
    margin-top: 2rem;
}
#about-us{
   color: aliceblue;
   float:left;
   padding-top: 10%;
}
.vr {
    border-right: 6px solid white;
    height:15rem;
    float: left;
    margin-top: 2.5%;
    border-radius: 1%;
  }
  .about-image{
    float: left;
    border-radius: 20%;
    display: block;
    padding-left: 3%;
    margin-top: 5%;   
  }
#services{
    color: aliceblue;
    float:right;
    padding-top: 10%; 
    width: 100vw;
}
.service-image{
    float: left;
    margin-top: 5%;
    display: block;
}
.vl{
    border-left: 6px solid white;
    height:11rem;
    float: left;
    border-radius: 1%;
    margin-top: 2%;
}
.contact_me{
    margin-top: 10%;
}
#contact_me{
    color: aliceblue;
    float:right;
    padding-top: 10%; 
    width: 100vw; 
}
.map{
    width: 45vh;
    height: 30vh;
    border: 2rem solid;
    border-color: black;
    border-radius: 15%;
}
.address{
    float: left;
    padding-left: 5%;
}
.vrmap{
    border-right: 6px solid white;
    height:25rem;
    float: left;
    padding-top: 3%;
    border-radius: 1%;
  }
  .call{
    float: left;
    padding-left: 5%;
  }
  .whatsapp{
    float: left;
    padding-left: 5%;
  }
  .contact_link{
    color: aliceblue;
    text-decoration: none;
  }
  .footer{
    width: 100vw;
    height: auto;
    background-color: black;
    float: left;
    color: aliceblue;
  }
  .footer_link{
    float: left;
  }
  .rights{
    float: left;
  }
  @media screen and (max-width: 992px) {
    .vl{
        border-top: 6px solid white;
        width:50vw;
        float: left;
        height: 0;
        align-items: center;
        margin-top: 5%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 5%;
    }
  }
@media screen and (max-width: 992px) {
    .vr{
        border-top: 6px solid white;
        width:50vw;
        float: left;
        height: 0;
        align-items: center;
        margin-top: 5%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 5%;
    }
}
@media screen and (max-width: 992px) {
    .vrmap{
        border-top: 6px solid white;
        width:50vw;
        float: left;
        height: 0;
        align-items: center;
        margin-bottom: 10%;
        margin-inline: 25%;
        padding: 0;
    }
}
